<div class="page" @listIn>
  <div class="heading">
    <h1>Users</h1>
    <p>Browse the directory and open a user to view details.</p>
  </div>

  <ng-container *ngIf="(res$() | async) as res">
    <div class="stack">
      <a
        class="user-card"
        *ngFor="let u of res.data; trackBy: trackById"
        [routerLink]="['/users', u.id]"
      >
        <img class="avatar" [src]="u.avatar" alt="" />
        <div class="meta">
          <div class="name">{{ u.first_name }} {{ u.last_name }}</div>
          <div class="sub">ID: {{ u.id }}</div>
        </div>
        <div class="chev">›</div>
      </a>
    </div>

    <div class="pager">
      <button class="nav" (click)="prev()" [disabled]="page() <= 1">‹</button>
      <div class="info">Page {{ page() }} / {{ res.total_pages }}</div>
      <button class="nav" (click)="next(res.total_pages)" [disabled]="page() >= res.total_pages">›</button>
    </div>
  </ng-container>
</div>
