<mat-toolbar class="topbar">
  <div class="brand" routerLink="/">
    <span class="dot"></span>
    <span class="title">User Explorer</span>
  </div>

  <span class="spacer"></span>

  <mat-form-field
    class="search"
    appearance="outline"
    subscriptSizing="dynamic"
  >
    <mat-icon matPrefix class="search-icon">search</mat-icon>

    <input
      matInput
      [formControl]="searchId"
      inputmode="numeric"
      autocomplete="off"
      placeholder="Search user by ID"
    />

    <button
      *ngIf="searchId.value"
      class="clear-btn"
      mat-icon-button
      matSuffix
      type="button"
      aria-label="Clear search"
      (click)="clear()"
    >
      <mat-icon>close</mat-icon>
    </button>

    <mat-hint *ngIf="errorMsg" class="error">{{ errorMsg }}</mat-hint>
  </mat-form-field>
</mat-toolbar>
